---
layout: default
body_class: home-page
---

<section id="banner" class="row banner">
    <div class="col-xs-12 text-xs-center">
        <h1 class="book-title">Ruby on Rails 教程<span class="book-edition">（原书第 4 版）</span></h1>
        <p class="book-subtitle">通过 Rails 5 学习 Web 开发</p>
    </div>
</section>

<section id="ebook" class="row ebook">
    <div class="col-xs-12 text-xs-center">
        <div class="cover">
            <img src="{{ site.baseurl }}/assets/images/railstutorial-book-banner.jpg" alt="{{ site.title }}" title="{{ site.title }}" />
        </div>

        <div class="formats">
            <img src="{{ site.baseurl }}/assets/images/pdf.png" width="45" alt="PDF" title="PDF 格式" />
            <img src="{{ site.baseurl }}/assets/images/epub.png" width="45" alt="ePub" title="ePub 格式" />
            <img src="{{ site.baseurl }}/assets/images/mobi.png" width="45" alt="mobi" title="mobi 格式" />
        </div>

        {% include actions.html button_id="purchase-dropdown-main" %}

        <p class="redeem-link"><a href="{{site.baseurl}}/redeem/" title="换购电子书">纸质书五折换购电子书</a></p>

    </div>
</section>

{% include toc.html %}
{% include praise.html %}
{% include faq.html %}
{% include actions.html wrapper=true button_id="purchase-dropdown-bottom" %}
{% comment %}
{% include related_books.html %}
{% endcomment %}
