<section id="faq" class="row faq">
    <div class="container">
        <h2>常见问题解答</h2>
        <div class="col-xs-12 col-sm-6">
            <ul>
                <li>
                    <h3>这是一本什么书？</h3>
                    <p>本书是 <a href="http://rubyonrails.org/" title="Ruby on Rails 官网" target="_blank">Ruby on Rails 框架</a>的入门教程，教您开发 Web 应用。由英语原版作者授权翻译成简体中文版。</p>
                </li>
                <li>
                    <h3>阅读这本书需要具备哪些知识？</h3>
                    <p>您需要知道如何使用命令行，如何使用文本编辑器，了解基本的 Ruby、HTML 和 CSS 知识。</p>
                </li>
                <li>
                    <h3>这本书针对 Rails 的哪个版本？</h3>
                    <p>本书针对 Rails 5（目前最新的版本），而且会随着英文原书的更新而更新，为您提供最新的教程。</p>
                </li>
                <li>
                    <h3>付款后如何下载电子书？</h3>
                    <p>您付款后，销售平台会给您发送一封电子邮件，邮件中有电子书的下载链接，点击链接即可下载全部三种格式的电子书。</p>
                </li>
            </ul>
        </div>

        <div class="col-xs-12 col-sm-6">
            <ul>
                <li>
                    <h3>以后会更新吗？新版还要收费吗？</h3>
                    <p>本书采用“精益出版”策略，也就是说会不断更新完善。如果您已经购买电子书，后续小幅更新都可免费获取。</p>
                </li>
                <li>
                    <h3>这本书有附带的源码吗？在哪里下载？</h3>
                    <p>本书附带的源码托管在 Bitbucket 中，仓库名为 <a href="https://bitbucket.org/{{ site.repo_name }}" title="附带源码" target="_blank">{{ site.repo_name }}</a>。</p>
                </li>
                <li>
                    <h3>我可以把自己购买的电子书分享给别人吗？</h3>
                    <p>这本书没有 DRM 限制，为的是让您自由选择阅读设备。本书受版权法保护，因此不能分享给别人。</p>
                </li>
                <li>
                    <h3>我是在校生，有什么优惠吗？</h3>
                    <p>本书针对在校生提供 7 折优惠，请到<a href="https://flapybooks.com/education" title="申请教育优惠" target="_blank" rel="noopener">这个网页</a>中申请。请提前准备好学生身份证明文件。</p>
                </li>
            </ul>
        </div>
    </div>
</section>
