---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Core variables and mixins
@import "bootstrap/variables";
@import "bootstrap/mixins";

// Reset and dependencies
@import "bootstrap/normalize";
@import "bootstrap/print";

// Core CSS
@import "bootstrap/reboot";
@import "bootstrap/type";
@import "bootstrap/images";
@import "bootstrap/code";
@import "bootstrap/grid";
@import "bootstrap/tables";
// @import "bootstrap/forms";
@import "bootstrap/buttons";

// Components
@import "bootstrap/animation";
@import "bootstrap/dropdown";
// @import "bootstrap/button-group";
// @import "bootstrap/input-group";
// @import "bootstrap/custom-forms";
@import "bootstrap/nav";
@import "bootstrap/navbar";
@import "bootstrap/card";
// @import "bootstrap/breadcrumb";
// @import "bootstrap/pagination";
@import "bootstrap/pager";
// @import "bootstrap/labels";
// @import "bootstrap/jumbotron";
@import "bootstrap/alert";
@import "bootstrap/progress";
@import "bootstrap/media";
// @import "bootstrap/list-group";
// @import "bootstrap/responsive-embed";
// @import "bootstrap/close";

// Components w/ JavaScript
// @import "bootstrap/modal";
// @import "bootstrap/tooltip";
// @import "bootstrap/popover";
// @import "bootstrap/carousel";

// Utility classes
@import "bootstrap/utilities";
@import "bootstrap/utilities-background";
@import "bootstrap/utilities-spacing";
@import "bootstrap/utilities-responsive";

@import "icons";
@import "highlight";

@mixin link() {
    a {
        color: #69707a;
        text-decoration: underline;

        &:hover, &:focus {
            color: #222324;
        }
    }
}

// Custom styles

body {
    background-color: #f5f7f9;
}

img {
    max-width: 100%;
}

.navbar {
    background-color: #fff;
}

.navbar > .container {
    box-shadow: 0 1px 0 #f5f7f9;
    padding-bottom: 8px;
}

.navbar .navbar-brand {
    color: $gray-dark;
    font-weight: bold;
}

.navbar-nav .nav-item {
    float: none;
}

.navbar-nav .nav-item+.nav-item {
    margin-left: 0;
}

.navbar-nav .nav-link {
    color: #777;

    &:hover, &:focus {
        color: $gray-dark;
    }
}

.nav-item.active .nav-link {
    color: $gray-dark;
}

.main {
    background-color: #fff;

    & > .container > .row {
        border-bottom: 1px solid #f5f7f9;
        padding: 40px 0;
    }

    h2 {
        font-size: 1.5rem;
        margin-bottom: 1.5rem;
        text-align: center;
    }

    h3 {
        color: #373a3c;
        font-size: 1.25rem;
    }

    ul {
        color: #c00;
    }

    li p {
        color: #999;

        @include link();
    }
}

.main > .container >.banner {
    border-bottom: none;
}

.book-edition {
    color: #666;
    font-size: 1.5rem;
}

.book-subtitle {
    font-size: 1.5rem;
}


.cover img {
    margin-bottom: 40px;
}

.formats {
    margin-bottom: 2rem;
    text-align: center;

    & > img {
        margin-right: 1rem;

        &:last-of-type {
            margin-right: 0;
        }
    }
}

.actions {
    & > div {
        display: inline-block;
    }
}

.sample-downloader {
    margin-top: 0.5rem;
}

.redeem-link {
    margin-top: 1rem;

    a {
        color: #666;
    }
}

.comment {
    img {
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
    }

    @include link();
}

.post-header {
    border-bottom: 1px solid #f5f7f9;
    margin-bottom: 1.5rem;
}

.post-meta {
    color: #999;
    margin-bottom: 0;
}

.post-title {
    font-size: 2rem;

    a {
        color: inherit;
    }
}

.post-content {
    h2 {
        font-size: 1.5rem;
    }

    h3 {
        font-size: 1.2rem;
    }

    h4, h5, h6 {
        font-size: 1rem;
    }

    figure {
        border: 1px solid #ccc;
        padding: 0.5rem;
        text-align: center;
    }

    ul {
        color: inherit;
    }
}

.post-list {
    list-style: none;
    padding-left: 0;

    .post-date {
        color: #999;
        font-size: 90%;
        font-family: $font-family-monospace;
    }

    a {
        color: $gray-dark;
    }
}



.pagination {
    border-top: 1px solid #f5f7f9;
    margin-top: 2rem;
}

.footer {
    padding: 20px 0 40px;
    text-align: center;

    @include link();
}

@include media-breakpoint-up(sm) {

    .navbar-nav .nav-item {
        float: left;
    }

    .navbar-nav .nav-item+.nav-item {
        margin-left: 1rem;
    }

    .main {
        h2 {
            text-align: left;
        }
    }

    .sample-downloader {
        margin-top: 0;
    }

    .actions .btn-danger {
        margin-right: 2rem;
    }

    .footer {
        padding: 40px 0 80px;
    }
}
